/* 
.project_container{
grid-template-columns: repeat(3, 1fr);
gap: 2.5rem;
display: grid;
}

.project_item{
padding: 1.2rem;
transition: var(--tranisition);
background: var(--color-bg-variant);
border: 1px solid transparent;
border-radius: 2rem;
}

.project_item h3{
margin: 1.1rem 0 .5rem;
color: var(--color-light);
}

.project_item:hover {
background: transparent;
border-color: var(--color-primary-varient);
}

.project_item_image{
overflow: hidden;
border-radius: 1rem;
}

.project_item_btn{
margin: 2rem 0 1rem 0;
}


@media screen and (max-width; 1024px) {

    .project_container {
    gap: 1.2rem;
    grid-template-columns: 1fr 1fr;
    }  
}

@media screen and (max-width; 600px) {

    .project_container {
    gap: 1rem;
    grid-template-columns: 1fr;
    }  
} */


.project_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.project_item {
    padding: 1.2rem;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: all 400ms ease; 
    cursor: default;
}

.project_item:hover {
    border-color: var(--color-primary-variant); 
    background: transparent;
}

.project_item_image {
    overflow: hidden;
    border-radius: 1rem;
}

.project_item h3 {
    color: var(--color-light);
    margin: 1.1rem 0 0.5rem 0; 
}

.project_item_btn {
    margin-top: 2rem; 
    margin-bottom: 1rem;
    display: flex;
    gap: 0.8rem; 
}


@media screen and (max-width: 1024px) {
      .project_container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }  
}

/* --- MOBILE/SMALL - */
@media screen and (max-width: 600px) {
    .project_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }  
    
    .project_item {
        padding: 1rem;
    }
}