
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@380;480;500&display=swap');

*{
padding: 0;
margin: 0;
border: 0;
outline: 0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
}

:root {
--color-bg: #1f1f38;
--color-bg-variant: #2c2c6c; 
--color-primary: #3498db; 
--color-primary-variant: #2980b9; 
--color-light: #ecf0f1; 
--color-white: #f1e9e9; 

--container-width-lg: 70%;
--container-width-md: 86%;
--container-width-sm: 90%;

transition: all 400ms ease;
}

::webkit-scrollbar{
display: none;
}

html{
scroll-behavior: smooth;
}

body{
font-family: 'poppins', sans-serif;
color: var(--color-white);
line-height: 1.6;
background: var(--color-bg);
}

.container{
width: var(--container-width-lg);
margin: 0 auto;
}

section{
margin-top: 7rem;
}

section > h2,
section > h5{
text-align: center;
color: var(--color-light);
}

section > h2{
margin-bottom: 3rem;
color: var(--color-primary);
}

h1, h2, h5{
font-weight: 500;
}

h1{
font-size: 2.5rem;
}

.text-light{
color: var(--color-light);
}

a {
transition: var(--transition);
color: var(--color-primary);
}

.btn{
display: inline-block;
width: max-content;
padding: 0.75rem 1.2rem;
color: var(--color-primary-variant);
border: 1px solid var(--color-primary);
border-radius: 0.5rem;
transition: var(--transition);
cursor: pointer;
}

.btn:hover{
background: var(--color-primary);
border-color: transparent;
color: var(--color-bg);
}

.btn-primary{
color: var(--color-bg);
background: var(--color-primary-variant);
}

.btn-primary:hover{
background: var(--color-bg);  
border: 1px solid var(--color-primary-variant);
color: var(--color-primary);
}

img{
width: 100%;
display: block;
object-fit: cover;
}

/* tablet media query */

@media screen and (max-width: 1024px) {
    .container{
    width: var(--container-width-md);
    }

    section{
    margin-top: 6rem;
    }
    
}

/* phone media query */
@media screen and (max-width: 600px) {
    .container{
    width: var(--container-width-sm);
    }

    section h2{
    margin-bottom: 1.5rem;
    }
    
}
